.w2multiupload{
	width : 400px;
	height : 50px;
	position: absolute;
}
.w2upload{
	width : 400px;
	height : 50px;
	position: absolute;
}



.w2multiupload_uploader{
	width : 450px;
	height : 400px;
	position: absolute;
	
}


