.noChildIamge_first 	{background-image:url(uiplugin/treeview/images/first.gif); background-repeat:no-repeat;}
.vlineImage				{background-image:url(uiplugin/treeview/images/vline.gif); background-repeat:no-repeat;}
.noChildIamge_middle	{background-image:url(uiplugin/treeview/images/middle.gif); background-repeat:no-repeat;}
.hLineImage				{background-image:url(uiplugin/treeview/images/alone.gif); background-repeat:no-repeat;}
.noChildIamge_last		{background-image:url(uiplugin/treeview/images/lastnode.gif); background-repeat:no-repeat;}
.blankImage				{}
.openImage				{background-image:url(uiplugin/treeview/images/minus1.gif); background-repeat:no-repeat;}
.closedImage			{background-image:url(uiplugin/treeview/images/plus1.gif); background-repeat:no-repeat;}


.nodeText{	font-family : Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; 	font-size : 11px; -moz-user-select: none;  }